<%= form_for @game, url: game_path do |g| %>
   <h1>Game name</h1>
   <%= g.text_field :name %>
   <% 3.times do |x| %>
     <h1><%= "Point #{1 + x}" %></h1>
     <%= g.fields_for "points_#{x}" do |p| %>
        <h3>Question</h3>
        <%= p.text_field :question %>
        <h3>Latitude</h3>
        <%= p.number_field :latitude %>
        <h3>longitude</h3>
        <%= p.number_field :longitude %>
      <% end %>
    <% end %>

    <br>
   <%= g.submit %>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
