<%= form_for @game do |g| %>
   <%= g.label :name %>
   <%= g.text_field :name, class: "form-control" %>
   <br>
   <br>
   <br>
   <%= g.fields_for :points, @game.points do |p| %>
     <div class="col-md-4">
       <%= p.label :question %>
       <%= p.text_area :question , class: "form-control"%>
       <%= p.label :latitude %>
       <%= p.number_field :latitude, step: "any", class: "form-control"%>
       <%= p.label :longtitude %>
       <%= p.number_field :longtitude, step: "any" , class: "form-control"%>
       <%= p.hidden_field :order, value: p.index %>
     </div>
   <% end %>

   <div>
     <%= g.submit "Create Game", class: "btn btn-primary pull-right" %>
   </div>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
