<footer class="footer">
  <small>
    <%= link_to "HideAndSick", 'main' %>

  </small>
  <nav>
    <ul>
      <li><%= link_to "Main",   'main' %></li>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
    </ul>
  </nav>
</footer>
<%= javascript_include_tag "application.js" %>
